In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import time

In [118]:
pokemon = pd.read_csv("/home/user/Desktop/Data_analysis_projects/Pokemon/data.csv", index_col = 0)
stats = pd.read_csv("/home/user/Desktop/Data_analysis_projects/Pokemon/stats.csv", index_col = 0)

In [119]:
pokemon

,number,name,type,ability,hidden_ability,gender_ratio,hatch_cycle,egg_group,Base_Experience_Yield,height,weight,leveling_rate,color,base_friendship,category,gen
1,#0001,Bulbasaur,Grass / Poison,Overgrow,Chlorophyll,"87.5% male, 12.5% female",20cycles,Monster / Grass,64.0,0.7,6.9,Medium Slow,Green,70.0,Seed Pokémon,1
2,#0002,Ivysaur,Grass / Poison,Overgrow,Chlorophyll,"87.5% male, 12.5% female",20cycles,Monster / Grass,142.0,1.0,13.0,Medium Slow,Green,70.0,Seed Pokémon,1
3,#0003,Venusaur,Grass / Poison,Overgrow / Chlorophyll,Thick Fat,"87.5% male, 12.5% female",20cycles,Monster / Grass,236.0,2.0,100.0,Medium Slow,Green,70.0,Seed Pokémon,1
4,#0004,Charmander,Fire,Blaze,Solar Power,"87.5% male, 12.5% female",20cycles,Monster / Dragon,62.0,0.6,8.5,Medium Slow,Red,70.0,Lizard Pokémon,1
5,#0005,Charmeleon,Fire,Blaze,Solar Power,"87.5% male, 12.5% female",20cycles,Monster / Dragon,142.0,1.1,19.0,Medium Slow,Red,70.0,Flame Pokémon,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,#1021,Raging Bolt,Electric / Dragon,Protosynthesis,None,Gender unknown,50cycles,No Eggs Discovered,295.0,5.2,480.0,Slow,Yellow,0.0,Paradox Pokémon,9
1022,#1022,Iron Boulder,Rock / Psychic,Quark Drive,None,Gender unknown,50cycles,No Eggs Discovered,295.0,1.5,162.5,Slow,Gray,0.0,Paradox Pokémon,9
1023,#1023,Iron Crown,Steel / Psychic,Quark Drive,None,Gender unknown,50cycles,No Eggs Discovered,295.0,1.6,156.0,Slow,Blue,0.0,Paradox Pokémon,9
1024,#1024,Terapagos,Normal,Tera Shift / Tera Shell,Teraform Zero,"50% male, 50% female",5cycles,No Eggs Discovered,90.0,0.2,6.5,Slow,Blue,50.0,Tera Pokémon,9
1025,#1025,Pecharunt,Poison / Ghost,Poison Puppeteer,None,Gender unknown,20cycles,No Eggs Discovered,300.0,0.3,0.3,Slow,Purple,0.0,Subjugation Pokémon,9

In [86]:
stats

,name,hp,attack,defense,special_attack,special_defense,speed,total
1,Bulbasaur,45.0,49.0,49.0,65.0,65.0,45.0,318.0
2,Ivysaur,60.0,62.0,63.0,80.0,80.0,60.0,405.0
3,Venusaur,80.0,82.0,83.0,100.0,100.0,80.0,525.0
4,Charmander,39.0,52.0,43.0,60.0,50.0,65.0,309.0
5,Charmeleon,58.0,64.0,58.0,80.0,65.0,80.0,405.0
...,...,...,...,...,...,...,...,...
1021,Raging_Bolt,125.0,73.0,91.0,137.0,89.0,75.0,590.0
1022,Iron_Boulder,90.0,120.0,80.0,68.0,108.0,124.0,590.0
1023,Iron_Crown,90.0,72.0,100.0,122.0,108.0,98.0,590.0
1024,Terapagos,90.0,65.0,85.0,65.0,85.0,60.0,450.0
1025,Pecharunt,88.0,88.0,160.0,88.0,88.0,88.0,600.0

In [121]:
pokemon.egg_group.unique()

array(['Monster / Grass', 'Monster / Dragon', 'Monster / Water 1', 'Bug',
       'Flying', 'Field', 'Field / Dragon',
       'Field / Fairyor No Eggs DiscoveredCosplay/Cap', 'Field / Fairy',
       'Monster / Field', 'No Eggs Discovered', 'Fairy', 'Grass',
       'Bug / Grass', 'Water 1 / Field', 'Water 1', 'Human-Like',
       'Water 3', 'Mineral', 'Flying / Field', 'Amorphous', 'Monster',
       'Water 1 / Dragon', 'Water 2', 'Water 2 / Dragon', 'Ditto',
       'Water 1 / Water 3', 'Flying / Fairy', 'Water 1 / Fairy',
       'Fairy / Grass', 'Water 1 / Water 2', 'Water 1 / Grass',
       'Field / Grass', 'Water 1 / Flying', 'Human-Like / Amorphous',
       'Water 1 / Bug', 'Bug / Human-Like', 'Field / Water 2',
       'Field / Human-Like', 'Bug / Dragon', 'Grass / Human-Like',
       'Flying / Dragon', 'Fairy / Amorphous', 'Fairy / Mineral',
       'Dragon', 'Water 1 / Amorphous', 'Bug / Water 3', 'Field / Flying',
       'Grass / Fairy', 'Bug / Mineral', 'Mineral / Amorphous',
       'Flying / Water 3', 'Grass / Mineral', 'Dragon / Monster',
       'Flying / Human-Like', 'Grass / Amorphous', 'Monster / Mineral',
       'Bug / Fairy', 'Grass / Dragon', 'Water 1 / Human-Like',
       'Fairy / Human-Like', 'Field / Mineral', 'Mineral / Dragon',
       'Amorphous / Dragon', 'Flying / Water 1', 'Dragon / Mineral'],
      dtype=object)

In [117]:
pokemon[pokemon["egg_group"] == "Field / Fairyor No Eggs DiscoveredCosplay/Cap"]

,number,name,type,ability,hidden_ability,gender_ratio,hatch_cycle,egg_group,Base_Experience_Yield,height,weight,leveling_rate,color,base_friendship,category,gen
25,#0025,Pikachu,Electric,Static,Lightning Rod,"50% male, 50% female",10cycles,Field / Fairyor No Eggs DiscoveredCosplay/Cap,112.0,0.4,6.0,Medium Fast,Yellow,70.0,Mouse Pokémon,1

In [ ]:
# Creating gen column 
bins = [0, 151,