In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import requests 
from bs4 import BeautifulSoup
import re

In [80]:
pokemon = pd.DataFrame(columns = ["name", "hp", "attack", "defence", "special_attack", 
                      "special_defense", "speed", "total"], index = range(1, 1026))
pokemon

     name   hp attack defence special_attack special_defense speed total
1     NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
2     NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
3     NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
4     NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
5     NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
...   ...  ...    ...     ...            ...             ...   ...   ...
1021  NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
1022  NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
1023  NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
1024  NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
1025  NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN

[1025 rows x 8 columns]

In [10]:
pokemon = pd.read_csv("/home/user/Desktop/Data_analysis_projects/Pokemon/data.csv", index_col = 0)

In [78]:
# Creating a function for finding stats of a pokemon 
def scrap_pokemon_details(pokemon_name):
    # requesting text
    text = requests.get(f"https://bulbapedia.bulbagarden.net/wiki/{pokemon_name}_(Pok%C3%A9mon)").text
    
    # Creating BeautifulSoup instance
    soup = BeautifulSoup(text, "lxml")
    
    # Hp 
    hp_data = soup.find("tr", style = "background: #9EE865; text-align:center")
    hp_data2 = hp_data.find_all("div")
    hp = hp_data2[1].text.strip()
    if hp.isnumeric():
        hp = int(hp)
    else:
        print("Hp is not numeric")
    
    # attack
    attack_data = soup.find("tr", style = "background: #F5DE69; text-align:center") 
    attack_data2 = attack_data.find_all("div")
    attack = attack_data2[1].text.strip()
    if attack.isnumeric():
        attack = int(attack)
    else:
        print("attack is not numeric")
    
    # defense
    defense_data = soup.find("tr", style = "background: #F09A65; text-align:center")
    defense_data2 = defense_data.find_all("div")
    defense = defense_data2[1].text.strip()
    if defense.isnumeric():
        defense = int(defense)
    else:
        print("Defense is not numeric")
    
    # special attack
    special_attack_data = soup.find("tr", style = "background: #66D8F6; text-align:center")
    special_attack_data2 = special_attack_data.find_all("div")
    special_attack = special_attack_data2[1].text.strip()
    if special_attack.isnumeric():
        special_attack = int(special_attack)
    else:
        print("Special Attack is not numeric")
    
    # special defense
    special_defense_data = soup.find("tr", style = "background: #899EEA; text-align:center")
    special_defense_data2 = special_defense_data.find_all("div")
    special_defense = special_defense_data2[1].text.strip()
    if special_defense.isnumeric():
        special_defense = int(special_defense)
    else:
        print("Special Defense is not numeric")
        
    # speed
    speed_data = soup.find("tr", style="background: #E46CCA; text-align:center")
    speed_data2 = speed_data.find_all("div")
    speed = speed_data2[1].text.strip()
    if speed.isnumeric():
        speed = int(speed)
    else:
        print("Speed is not numeric")
    # total
    total = hp + attack + defense + special_attack + special_defense + speed
    
    return {"name" : pokemon_name, "hp" : hp, "attack" : attack, "defense" : defense,
           "special_attack" : special_attack, "special_defense" : special_defense,
           "speed" : speed, "total" : total}

In [83]:
# gen1 starters
bulbasaur_data = scrap_pokemon_details("Bulbasaur")
pokemon.loc[1] = bulbasaur_data
ivysaur_data = scrap_pokemon_details("Ivysaur")
pokemon.loc[2] = ivysaur_data
venusaur_data = scrap_pokemon_details("Venusaur")
pokemon.loc[3] = venusaur_data

In [84]:
pokemon.to_csv("/home/user/Desktop/Data_analysis_projects/Pokemon/stats.csv")
pokemon

           name   hp attack defence special_attack special_defense speed total
1     Bulbasaur   45     49     NaN             65              65    45   318
2       Ivysaur   60     62     NaN             80              80    60   405
3      Venusaur   80     82     NaN            100             100    80   525
4           NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
5           NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
...         ...  ...    ...     ...            ...             ...   ...   ...
1022        NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
1023        NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
1024        NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
1025        NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN
0           NaN  NaN    NaN     NaN            NaN             NaN   NaN   NaN

[1026 rows x 8 columns]

In [54]:
text = requests.get("https://bulbapedia.bulbagarden.net/wiki/Salamence_(Pok%C3%A9mon)").text

In [55]:
soup = BeautifulSoup(text, "lxml")

In [56]:
# hp
hp_data = soup.find("tr", style = "background: #9EE865; text-align:center")
hp_data2 = hp_data.find_all("div")
hp = hp_data2[1].text
hp

'95'

In [57]:
# attack

attack

'135'

In [58]:
# defense 
defense_data = soup.find("tr", style = "background: #F09A65; text-align:center")
defense_data2 = defense_data.find_all("div")
defense = defense_data2[1].text
defense

'80'

In [59]:
# special attack
special_attack_data = soup.find("tr", style = "background: #66D8F6; text-align:center")
special_attack_data2 = special_attack_data.find_all("div")
special_attack = special_attack_data2[1].text
special_attack

'110'

In [72]:
# special defense
special_defense_data = soup.find("tr", style = "background: #899EEA; text-align:center")
special_defense_data2 = special_defense_data.find_all("div")
special_defense = special_defense_data2[1].text
special_defense
special_defense.isnumeric

True

In [61]:
# speed
speed_data = soup.find("tr", style="background: #E46CCA; text-align:center")
speed_data2 = speed_data.find_all("div")
speed = speed_data2[1].text
speed

'100'

In [62]:
# total 
total = int(hp) + int(attack) + int(defense) + int(special_attack) + int(special_defense) + int(speed)
total

600

In [43]:
# Arceus
hp = data[27].text
attack = data[30].text
defense = data[33].text
special_attack = data[36].text
special_defense = data[39].text
speed = data[42].text
total = data[45].text
print(f"Hp = {hp}")
print(f"Attack = {attack}")
print(f"Defense = {defense}")
print(f"Special Attack = {special_attack}")
print(f"Special Defense = {special_defense}")
print(f"Total = {total}")

Hp = Defense:
Attack = Sp. Atk:
Defense = Sp. Def:
Special Attack = Speed:
Special Defense = Total:
Total =

In [11]:
stats = pd.read_csv("/home/user/Desktop/Data_analysis_projects/Pokemon/stats.csv", index_col = 0)

In [14]:
pokemon

,number,name,type,ability,hidden_ability,gender_ratio,hatch_cycle,egg_group,Base_Experience_Yield,height,weight,leveling_rate,color,base_friendship,category
1,#0001,Bulbasaur,Grass / Poison,Overgrow,Chlorophyll,"87.5% male, 12.5% female",20cycles,Monster and Grass,64.0,0.7 m,6.9 kg,Medium Slow,Green,70.0,Seed Pokémon
2,#0002,Ivysaur,Grass / Poison,Overgrow,Chlorophyll,"87.5% male, 12.5% female",20cycles,Monster and Grass,142.0,1.0 m,13.0 kg,Medium Slow,Green,70.0,Seed Pokémon
3,#0003,Venusaur,Grass / Poison,Overgrow / Chlorophyll,Thick Fat,"87.5% male, 12.5% female",20cycles,Monster and Grass,236.0,2.0 m,100.0 kg,Medium Slow,Green,70.0,Seed Pokémon
4,#0004,Charmander,Fire,Blaze,Solar Power,"87.5% male, 12.5% female",20cycles,Monster and Dragon,62.0,0.6 m,8.5 kg,Medium Slow,Red,70.0,Lizard Pokémon
5,#0005,Charmeleon,Fire,Blaze,Solar Power,"87.5% male, 12.5% female",20cycles,Monster and Dragon,142.0,1.1 m,19.0 kg,Medium Slow,Red,70.0,Flame Pokémon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,#1021,Raging Bolt,Electric / Dragon,Protosynthesis,None,Gender unknown,50cycles,No Eggs Discovered,295.0,5.2 m,480.0 kg,Slow,Yellow,0.0,Paradox Pokémon
1022,#1022,Iron Boulder,Rock / Psychic,Quark Drive,None,Gender unknown,50cycles,No Eggs Discovered,295.0,1.5 m,162.5 kg,Slow,Gray,0.0,Paradox Pokémon
1023,#1023,Iron Crown,Steel / Psychic,Quark Drive,None,Gender unknown,50cycles,No Eggs Discovered,295.0,1.6 m,156.0 kg,Slow,Blue,0.0,Paradox Pokémon
1024,#1024,Terapagos,Normal,Tera Shift / Tera Shell,Teraform Zero,"50% male, 50% female",5cycles,No Eggs Discovered,90.0,0.2 m,6.5 kg,Slow,Blue,50.0,Tera Pokémon
1025,#1025,Pecharunt,Poison / Ghost,Poison Puppeteer,None,Gender unknown,20cycles,No Eggs Discovered,300.0,0.3 m,0.3 kg,Slow,Purple,0.0,Subjugation Pokémon